.contener-contact {
  text-align: center;
  margin: 20px 0;
  padding: 0 37px;
  margin-left: auto;
  margin-right: auto;
  // width: 10em;
}

@media all and (min-width: 200px) and (max-width: 300px) {
  .contener-contact {
    padding: 0 20px;
  }
}

@media all and (min-width: 300px) and (max-width: 380px) {
  .contener-contact {
    padding: 0 47px;
  }
}
