.content {
  height: 105vh;
  // min-height: 100%;
  width: 100%;
  // min-width: 100%;
  background-color: #161b22;
  padding-bottom: 10px;
  // margin-bottom: 10px;
}
.contener-information {
  width: 12%;
  .photo-main {
    display: block;

    // position: absolute;
    margin-left: 5vw;
    margin-top: -60px;
    .photo-me {
      border-radius: 200px;
      border: 2px solid rgb(104, 98, 98);
      width: 20vw;
      min-width: 100px;
    }
    .information {
      h2 {
        display: block;
        width: 30vw;
      }
      p {
        width: 30vw;
        a {
          display: inline-block;
          width: 30vw;
          margin-top: 3px;
        }
      }
    }
  }
}

.content {
  display: flex;
}

.img-link {
  margin-left: 5px;
}

.email-img {
  // min-width: 25vh;
  border-radius: 200px;
  border: 2px solid rgb(104, 98, 98);
}

.logo4 img {
  padding-top: 20px;
  width: 90%;
}

.information {
  width: 22vw;
  color: rgb(161, 160, 160);
  p {
    margin-top: 20px;
    display: flex;
    width: 100%;
    a {
      text-decoration: none;
      color: rgb(64, 110, 238);
    }
    a:hover {
      color: rgb(26, 104, 192);
      transition: 0.3s;
    }
  }
}

.readme {
  display: block;
  margin: 20px 39vh 0px 210px;
  padding: 20px;
  height: min-content;
  min-width: 50%;
  width: auto; //width: min-content dla mobilki powinno dobrze wygladac
  border-radius: 8px;
  border: 1px solid rgb(104, 98, 98);
  color: rgb(161, 160, 160);
  div {
    // padding-left: 5px;
    .reactgif {
      padding: 10px;
      padding-bottom: 15px;
    }
    // margin-left: 5px;
    div {
      a {
        text-decoration: none;
        color: rgb(189, 163, 16);
      }
      p {
        display: block;
        margin-top: 20px;
      }
      .skills {
        p {
          img {
            margin-left: 0;
            padding-top: 5px;
            display: block;
          }
        }
      }
    }
  }
}

@media all and (max-width: 850px) {
  .content {
    height: auto;
  }
  .readme {
    div {
      // padding-left: 5px;
      .reactgif {
        padding: 10px;
        padding-bottom: 15px;
        width: 100%;
      }
    }
  }
}

@media all and (min-width: 480px) and (max-width: 700px) {
  .content {
    display: block;
    height: 100vh;
    width: 100%;
    .contener-information {
      margin: 0;
      .photo-main {
        display: flex;
        padding-top: -40px;
        margin-top: -60px;
        .photo-me {
          border-radius: 200px;
          border: 2px solid rgb(104, 98, 98);
          width: 20vw;
          min-width: 100px;
        }
        .information {
          .city {
            width: 20vh;
            display: block;
            margin-left: 22px;
            margin-top: 1px;
          }
          .email {
            display: block;
            margin-left: 22px;
            margin-top: 6px;
          }
          h2 {
            display: flex;
            padding-top: 24px;
            padding-left: 24px;
            width: 310px;
            // width: 30%;
          }
          p {
            display: none;
          }
          .logo4 {
            display: none;
          }
        }
      }
    }
  }

  .readme {
    display: block;
    margin: 20px 20px 0px 20px;
    padding: 20px;
    height: min-content;
    min-width: 50vw;
    min-width: min-content; //width: min-content dla mobilki powinno dobrze wygladac
    border-radius: 8px;
    border: 1px solid rgb(104, 98, 98);
    color: rgb(161, 160, 160);
    div {
      // padding-left: 5px;
      .reactgif {
        padding: 10px;
        padding-bottom: 15px;
        width: 300px;
      }
      // margin-left: 5px;
      div {
        a {
          text-decoration: none;
          color: rgb(189, 163, 16);
        }
        p {
          display: block;
          margin-top: 20px;
        }
        .skills {
          p {
            img {
              margin-left: 0;
              padding-top: 5px;
              display: block;
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 480px) {
  .content {
    display: block;
    height: 100%;
    width: 100%;
    padding-bottom: 30px;
    .contener-information {
      margin: 0;
      .photo-main {
        display: flex;
        padding-top: -40px;
        margin-top: -60px;
        .photo-me {
          border-radius: 200px;
          border: 2px solid rgb(104, 98, 98);
          width: 20vw;
          min-width: 100px;
        }
        .information {
          // width: 20vw;
          h2 {
            max-width: 56vw;
          }
          .city {
            // width: 20vh;
            display: inline-block;
            margin-left: 22px;
            margin-top: 1px;
          }
          .email {
            display: block;
            margin-left: 22px;
            margin-top: 6px;
            .email-img {
              min-width: 20px;
              max-width: 46vw;
            }
          }
          h2 {
            display: flex;
            padding-top: 24px;
            padding-left: 24px;
            width: 290px;
            // width: 30%;
          }
          p {
            display: none;
          }
          .logo4 {
            display: none;
          }
        }
      }
    }
  }

  .readme {
    display: block;
    margin: 30px 20px 0px 20px;
    padding: 20px;
    height: min-content;
    min-width: 50vw;
    min-width: min-content; //width: min-content dla mobilki powinno dobrze wygladac
    border-radius: 8px;
    border: 1px solid rgb(104, 98, 98);
    color: rgb(161, 160, 160);
    div {
      // padding-left: 5px;
      .reactgif {
        padding: 10px;
        padding-bottom: 15px;
        width: 100%;
      }
      // margin-left: 5px;
      div {
        a {
          text-decoration: none;
          color: rgb(189, 163, 16);
        }
        p {
          display: block;
          margin-top: 20px;
        }
        .skills {
          p {
            img {
              margin-left: 0;
              padding-top: 5px;
              display: block;
            }
          }
        }
      }
    }
  }
}
@media all and (min-width: 300px) and (max-width: 395px) {
  .readme {
    display: block;
    margin: 50px 20px 0px 20px;
    padding: 20px;
    height: min-content;
    min-width: 50vw;
    min-width: min-content; //width: min-content dla mobilki powinno dobrze wygladac
    border-radius: 8px;
    border: 1px solid rgb(104, 98, 98);
    color: rgb(161, 160, 160);
    div {
      // padding-left: 5px;
      .reactgif {
        padding: 10px;
        padding-bottom: 15px;
        width: 100%;
      }
      // margin-left: 5px;
      div {
        a {
          text-decoration: none;
          color: rgb(189, 163, 16);
        }
        p {
          display: block;
          margin-top: 20px;
        }
        .skills {
          p {
            img {
              margin-left: 0;
              padding-top: 5px;
              display: block;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 300px) {
  .content {
    .contener-information {
      .photo-main {
        .information {
          // width: 20vw;
          h2 {
            width: 24vw;
          }
        }
      }
    }
  }
  .readme {
    display: block;
    margin: 45px 20px 0px 20px;
    padding: 20px;
    height: min-content;
    min-width: 50vw;
    min-width: min-content; //width: min-content dla mobilki powinno dobrze wygladac
    border-radius: 8px;
    border: 1px solid rgb(104, 98, 98);
    color: rgb(161, 160, 160);
    div {
      // padding-left: 5px;
      .reactgif {
        padding: 10px;
        padding-bottom: 15px;
        width: 100%;
      }
      // margin-left: 5px;
      div {
        a {
          text-decoration: none;
          color: rgb(189, 163, 16);
        }
        p {
          display: block;
          margin-top: 20px;
        }
        .skills {
          p {
            img {
              margin-left: 0;
              padding-top: 5px;
              display: block;
            }
          }
        }
      }
    }
  }
}
