.content {
  background-color: #161b22;
  padding-bottom: 10px;
}
.contener-information {
  width: 12%;
  .photo-main {
    display: block;
    position: absolute;
    left: 0;
    margin-left: 5vw;
    margin-top: -30px;
    .photo-me {
      border-radius: 200px;
      border: 2px solid rgb(104, 98, 98);
      width: 20vw;
      min-width: 100px;
    }
    .information {
      h2 {
        display: block;
        width: 30vw;
      }
      p {
        width: 30vw;
        a {
          display: inline-block;
          width: 30vw;
          margin-top: 3px;
        }
      }
    }
  }
}

.content {
  display: flex;
}

.img-link {
  margin-left: 5px;
}

.email-img {
  border-radius: 200px;
  border: 2px solid rgb(104, 98, 98);
}

.logo4 img {
  padding-top: 20px;
  width: 90%;
}

.information {
  width: 22vw;
  color: rgb(161, 160, 160);
  p {
    margin-top: 20px;
    display: flex;
    width: 100%;
    a {
      text-decoration: none;
      color: rgb(64, 110, 238);
    }
    a:hover {
      color: rgb(26, 104, 192);
      transition: 0.3s;
    }
  }
}

.box_content {
  display: block;
  margin: 20px 39vh 0px 210px;
  padding: 20px;
  min-width: 50%;
  width: auto; //width: min-content dla mobilki powinno dobrze wygladac
}

@media all and (min-width: 480px) and (max-width: 700px) {
  .content {
    display: block;
    min-height: 120vh;
    width: 100%;
    .contener-information {
      margin: 50px 0;
      left: 0;
      position: absolute;
      .photo-main {
        display: flex;
        padding-top: -40px;
        margin-top: -60px;
        position: unset;
        .information {
          .city {
            width: 20vh;
            width: 200px;
            display: block;
            margin-left: 22px;
            margin-top: 1px;
          }
          .email {
            display: block;
            margin-left: 22px;
            margin-top: 6px;
          }
          h2 {
            display: flex;
            padding-top: 24px;
            padding-left: 24px;
            width: 310px;
            // width: 30%;
          }
          p {
            display: none;
          }
          .logo4 {
            display: none;
          }
        }
      }
    }
  }
}
@media all and (max-width: 480px) {
  .content {
    display: block;
    min-height: 130vh;
    width: 100%;
    padding-bottom: 30px;
    .contener-information {
      margin: 50px 0;
      .photo-main {
        display: flex;
        padding-top: -40px;
        margin-top: -60px;
        .information {
          h2 {
            max-width: 49vw;
          }
          .city {
            max-width: 66vw;
            display: flex;
            width: 200px;
            margin-left: 22px;
            margin-top: 1px;
          }
          .email {
            display: block;
            margin-left: 22px;
            margin-top: 6px;
            .email-img {
              min-width: 20px;
              max-width: 46vw;
            }
          }
          h2 {
            width: 290px;
          }
        }
      }
    }
  }
}

@media all and (min-width: 300px) and (max-width: 395px) {
  .content {
    .contener-information {
      .photo-main {
        .photo-me {
        }
        .information {
          h2 {
            max-width: 49vw;
          }
          .city {
            width: 140px;
          }
        }
      }
    }
  }
}
@media all and (min-width: 320px) and (max-width: 330px) {
  .content {
    min-height: 170vh;
  }
}

@media all and (max-width: 300px) {
  .content {
    background-color: #161b22;
    height: 150vh;
    .contener-information {
      .photo-main {
        .information {
          h2 {
            width: 24vw;
          }
          .city {
            max-width: 50vw;
          }
        }
      }
    }
  }
}
