.contener-contact {
  text-align: center;
  #contact-form {
    input {
      min-width: 60px;
    }
    textarea {
      max-height: 400px;
      min-height: 180px;
      max-width: 460px;
      min-width: 177px;
    }
  }
}
