.navigation {
  background-color: #0d1117;

  .content-navigation {
    max-width: 100vh;
    text-align: center;
    display: flex;
    height: 24px;
    ul {
      a {
        padding-left: 100px;
        font-size: 20px;
        text-decoration: none;
        color: rgb(138, 136, 136);
      }
      a:hover {
        color: rgb(224, 222, 222);
        transition: 0.5s;
      }
    }
  }
}

@media all and (min-width: 480px) and (max-width: 700px) {
  .navigation {
    display: none;
  }
}
