.navigation {
  background-color: rgb(27, 26, 32);
  .content-navigation {
    margin-left: 500px;
    text-align: right;

    ul {
      display: flex;
      li {
        margin-left: 30px;
        margin-right: 30px;

        a {
          font-size: 16px;
          text-decoration: none;
          color: rgb(117, 117, 117);
        }
      }
    }
  }
}
