.navigation {
  background-color: #0d1117;

  .content-navigation {
    max-width: 100vh;
    margin-left: 400px;
    text-align: center;
    display: flex;
    height: 24px;
    ul {
      display: flex;
      li {
        margin-left: 30px;
        margin-right: 30px;
        a {
          font-size: 20px;
          text-decoration: none;
          color: rgb(138, 136, 136);
        }
        a:hover {
          color: rgb(224, 222, 222);
          transition: 0.5s;
        }
      }
    }
  }
}
