.contener-projects a {
  display: flex;
  color: rgb(172, 172, 172);
  margin-left: auto;
  margin-right: auto;
  width: 12em;
  font-size: 18px;
}
@media all and (max-width: 480px) {
  .contener-projects a {
    width: 12em;
    font-size: 16px;
  }
}
@media all and (max-width: 395px) {
  .contener-projects a {
    width: 12em;
    font-size: 14px;
  }
}
