.readme {
  display: block;
  margin: 73px 12vh 0px -50vw;
  padding: 20px;
  height: min-content;
  min-width: 342px;
  width: 50vw;
  position: absolute;
  border-radius: 8px;
  border: 1px solid #686262;
  color: #a1a0a0;
  div {
    // padding-left: 5px;
    .reactgif {
      padding: 10px;
      padding-bottom: 15px;
      width: 100%;
      max-width: 50%;
    }
    // margin-left: 5px;
    div {
      a {
        text-decoration: none;
        color: rgb(189, 163, 16);
      }
      p {
        display: block;
        margin-top: 20px;
      }
      .skills {
        p {
          img {
            margin-left: 0;
            padding-top: 5px;
            display: block;
          }
        }
      }
    }
  }
}
