.readme {
  display: block;
  margin: 40px 170px 0 0;
  padding: 20px;
  height: min-content;
  min-width: 317px;
  width: 55vw;
  border-radius: 8px;
  border: 1px solid #686262;
  color: #a1a0a0;
}
div {
  .reactgif {
    padding: 10px;
    padding-bottom: 15px;
    width: 100%;
    max-width: 46%;
    min-width: 190px;
  }
  div {
    p {
      display: block;
      margin-top: 20px;
      a {
        text-decoration: none;
        color: rgb(189, 163, 16);
      }
    }
    .skills {
      p {
        img {
          margin-left: 0;
          padding-top: 5px;
          display: block;
        }
      }
    }
  }
}

@media all and (min-width: 700px) and (max-width: 1090px) {
  .readme {
    margin: 40px 171px 0 317px;
  }
}

@media all and (min-width: 480px) and (max-width: 700px) {
  .readme {
    margin: 111px 27% 0;
    min-width: 50vw;
    div {
      .reactgif {
        width: 100%;
        max-width: none;
      }
    }
  }
}

@media all and (max-width: 480px) {
  .readme {
    margin: 134px 21% 0;
    min-width: min-content; //width: min-content dla mobilki powinno dobrze wygladac
  }
}

@media all and (min-width: 300px) and (max-width: 395px) {
  .readme {
    margin: 150px 21% 0;
    min-width: min-content; //width: min-content dla mobilki powinno dobrze wygladac
  }
}

@media all and (max-width: 300px) {
  .readme {
    margin: 141px 12vh 0px -42vw;
    background-color: #161b22;
  }
}
