* {
  box-sizing: border-box;
  margin: 0 auto;
  text-decoration: none;
}

body {
  background-color: #161b22;
  font-family: "Merriweather", serif;
}

.form {
  margin: 0 auto;
  text-align: center;
  input {
    margin-bottom: 2px;
  }
  .login-button {
    margin-top: 10px;
    width: 80px;
  }
}

.weather {
  margin: 0 auto;
  text-align: center;
}

.content-weather {
  h3 {
    em {
      font-weight: bold;
      font-size: 24px;
      color: white;
    }
  }
}

.content-weather h3,
h4 {
  margin: 0 19%;
  text-align: initial;
}

.active-link {
  text-decoration: underline !important;
}

@import "./components/bar";
@import "./components/content";
@import "./components/profile";
@import "./components/projects";
@import "./components/contact";
@import "./components/readme";
