* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  background-color: rgb(248, 245, 245);
  font-family: "Merriweather", serif;
}

@import "./components/bar";
@import "./components/content";
@import "./components/profile";
@import "./components/nav/navbar";
@import "./components/nav/rightnav";
