* {
  box-sizing: border-box;
  margin: 0 auto;
  text-decoration: none;
}

body {
  background-color: #161b22;
  font-family: "Merriweather", serif;
}

.form {
  margin: 0 auto;
  text-align: center;
  input {
    margin-bottom: 2px;
  }
  .login-button {
    margin-top: 10px;
    width: 80px;
  }
}

@import "./components/bar";
@import "./components/content";
@import "./components/profile";
@import "./components/projects";
@import "./components/contact";
@import "./components/readme";
