ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;

  li {
    margin-left: 80px;
    padding: 10px 10px;
    color: rgb(138, 136, 136);
    font-size: 20px;
    cursor: pointer;
  }
  li:hover {
    color: rgb(224, 222, 222);
    transition: 0.5s;
  }

  @media (max-width: 700px) {
    display: none;
    flex-flow: column nowrap;
    background-color: rgb(158, 34, 34);
    position: fixed;
    top: 0;
    left: 0;
    height: 24vh;
    width: 200px;
    padding-top: 3.5rem;
    li {
      margin-left: 10px;
    }
  }
}
